body {
    box-sizing: border-box; 
    background-color: #E8F8F5;
    margin: 0; 
    font-family: sans-serif;
    padding: 80px 20px 0 
    
}

.encabezado{
    position: fixed; 
    background-color: #076AF0; 
    top: 0; 
    left: 0;
    height: 90;
    width: 100%; 
}

.navegacion{ 
    display: flex;
    justify-content: space-between;
    max-width: 992px; 
    margin: 0 auto; 
}

.nav-link{
    color: white;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px; 
    line-height: 90px;
}

.nav-menu{
    display: flex;
    font-size: 18px;
    line-height: 90px;
    list-style: none;
}

.nav-menu-item{
    margin: 0 10px; 
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 6px;
}

.nav-menu-link:hover{
    background-color: #024070;
    transition: 0.5s;
}

aside{
    position: fixed; 
    background-color: #17A589;
    top: 90px; 
    left: 0;
    width: 20%; 
    bottom: 20px;
}

section{
    position: fixed; 
    overflow-y: scroll;
    background-color: whitesmoke;
    top: 90px; 
    left: 20%; 
    bottom: 20px;
    right: 0;
}

.sec-sin-aside{
    position: fixed; 
    overflow-y: scroll;
    background-color: whitesmoke;
    top: 90px; 
    left: 0; 
    bottom: 20px;
    right: 0;
}

footer{
   position: fixed;
    background-color:#117A65;
    color: white;
    left:0; 
    bottom: 0;
    right: 0; 
    height: 20px;
}

tr:nth-child(odd) { 
    background-color: grey;
    color: black;
}

tr:nth-child(even){
    background-color: green;
    color: yellow;
}